__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Local data (optional: if you want to generate it inside the container instead of copying)
data/processed/*.csv
data/processed/*.parquet
data/processed/*.png

# Logs
*.log

# Backups
*.backup
*.bak
